.datelist{
    display: flex;
   }
   .datelist p{
    display: flex;
    background: #fff;
     padding: 2px 2px;
     font-size: 1em;
     color: #777;
     width: 70%;
     box-sizing: border-box;
     border: 2px solid #ddd;
     border-radius: 4px;
     flex-wrap: wrap;
     flex: 1 1 100px;
   }